.figure {
    position: absolute;
    transition: all 2s;
    height: 0px;
    width: 0px;
}

.red {
    border-top: 150px solid transparent;
    border-right: 150px solid red;
    border-bottom: 150px solid transparent;
}

.yellow {
    border-right: 150px solid transparent;
    border-bottom: 150px solid rgb(255, 174, 0);
    border-left: 150px solid transparent;
}

.blue {
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 75px solid rgb(4, 0, 255);
}

.brown {
    border-top: 150px solid rgb(128, 41, 41);
    border-left: 150px solid transparent;
}

.orange {
    border-top: 75px solid rgb(255, 145, 0);
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
}

.green {
    width: 105px;
    height: 105px;
    transform: rotate(45deg);
    background-color: green;
}

.purple {
    width: 106px;
    height: 106px;
    transform: skew(-45deg);
    background-color: purple;
}