.blue.cheval {
    transform: translate(-205px, -15px) rotate(270deg);
}
.red.cheval  {
    transform: translate(100px, 100px) rotate(540deg);
}
.yellow.cheval  {
    transform: translate(-35px, 5px) rotate(45deg);
}
.green.cheval  {
    transform: translate(275px, 170px) rotate(420deg) skew(-45deg);
}
.purple.cheval {
    transform: translate(-35px, -110px) rotate(360deg);
}
.brown.cheval {
    transform: translate(-80px, -170px) rotate(315deg);
}
.orange.cheval  {
    transform: translate(-8px, 270px) rotate(315deg);
}